NODE_ENV=development

PORT=5000
#SWAGGER
SWAGGER_PATH=/docs
SWAGGER_IS_PUBLIC=true
SWAGGER_HOST=http://localhost:5000
SWAGGER_VERSION=1.0.0
SWAGGER_TITLE='Document API'
SWAGGER_DESC='Document API for dev'

# Database
MONGO_URI=

# Log
LOG_LEVEL=info


#sentry, able set SENTRY_DSN=null, not error
SENTRY_DSN=
SENTRY_ENABLED=false
SENTRY_DEBUG=false
SENTRY_MONGO_ENABLED=false
SENTRY_HTTP_ENABLED=false