NODE_ENV=development

PORT=5000
GLOBAL_PREFIX=api
#SWAGGER
SWAGGER_PATH=/docs
SWAGGER_IS_PUBLIC=true
SWAGGER_HOST=http://localhost:5000
SWAGGER_VERSION=1.0.0
SWAGGER_TITLE='Document API'
SWAGGER_DESC='Document API for dev'

# Database
MONGO_URI=

# Log
LOG_LEVEL=info
